@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0%;
    padding: 0%;
}
.Login{
    background-image: url("./Images/login-bg.jpg");
    background-position: center;
    background-size: cover;
}
.NavLogo{
    background-image: url("./Images/c3.png");
    background-position: center;
    background-size: cover;
}
/* .H11{
    position: sticky;
    top: 0;
} */